# Ignore build results
bin/
obj/
out/
TestResults/
*.log

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Build system files
*.dbmdl
*.pdb

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Resharper
*.DotSettings.user
_ReSharper*/

# Rider
.idea/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
.nuget/
packages/

# Others
*.tmp
*.bak
*.swp

# OS-specific
.DS_Store
Thumbs.db
